/*------------------------*/
/* CONFIGS CSS NO DESKTOP */

@media (min-width:768px) {
    .topo {
        height: 5%;
    }

    .logo {
        display: none;
    }

    .logodesk {
        display: initial;
        width: 20%;
        margin: 2% 3%;
    }

    .opcoes {
        display: grid;
        
        grid-template-columns: auto auto;
        gap: 2% 20%;
        text-align: center;
        margin: 3%;
    }
    
    .botoes {
        padding: 15%;
        font-size: 0.8em;
    }
    
    #skills {
        grid-area: 2 / 1;
    }
    

    /*--------*/
    /* SEÇÕES */

    .logo-reduz {
        width: 3%;
        margin-top: 3%;
        margin-left: 4%;
    }
    
    .cabecalho-secao {
        margin: 3% 8%;
    }

    .titulo-secao {
        font-size: 1.8em;
    }

    .menu {
        display: inline-block;
        margin-left: 40%;
        
    }

    .botao-seg-plano {
        font-size: 0.9em;
        margin-right: 70px;
        
    }

    footer {
        text-align: center;
        margin: 1% 0%;
        font-size: 0.8rem;
    }
    
    /*---------------------------*/
    /* CONFIGS. SPECIFCS. SEÇÕES */

    /* SEÇÃO PORTFÓLIO */
    .conjsites {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .miniatura-site {
        width: 100%;
    }

    .botao-seg-plano__roxo {
        border-bottom: solid 2px #6c009b;
    }

    /* SEÇÃO BIO */

    #eu img {
        width: 30%;
    }
    #secao-bio .botao-seg-plano {
    color: #2b2b2b;
    }

    .conteudo {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
    }
    
    #texto {
        width: 50%;
        text-align: justify;
    }
}
