body {
    margin: 0;
    font-family: 'Saira semi-condensed', sans-serif;
    color: #ffffff;
}

.topo {
    height: 10%;
    background-color: #2b2b2b;
}

header {
    background-color: #9b0007;
}

.logodesk {
    display: none;
}

.logo {
    width: 45%;
    margin: 3% 8%;
}

.home {
    background-color: #2b2b2b;
    height: 736px;
}

#secao-portfolio {
    background-color: #9b0007;
}

#secao-skills {
    background-color: #6c009b;
}

.opcoes {
    text-align: right;
    margin: 20% 5%;

}
.botoes {
    padding: 5%;
}

.botao {

    background: none;
    
    text-decoration: none;
    font-size: 1.8em;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    
    border: none;
    border-bottom: solid 2px #9b0007;
    
}

.botao-seg-plano {
    display: none;
}

#linha {
    border-top: solid 2px #9b0007;
}

footer {
    text-align: right;
    margin: 4% 5%;
    font-size: 0.7rem;
}

@media (min-width:768px) {
    .topo {
        height: 5%;
    }

    .logo {
        display: none;
    }

    .logodesk {
        display: initial;
        width: 20%;
        margin: 2% 3%;
    }

    .opcoes {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2% 20%;
        text-align: center;
        margin: 3%;
    }
    
    .botoes {
        padding: 15%;
        font-size: 0.8em;
    }
    
    #skills {
        grid-area: 2 / 1;
    }

    footer {
        text-align: center;
        margin: 1% 0%;
        font-size: 0.8rem;
    }
}
