body {
    margin: 0;
    font-family: 'Saira semi-condensed', sans-serif;
    color: #ffffff;
}

.topo {
    height: 10%;
    background-color: #2b2b2b;
}

header {
    background-color: #9b0007;
}

.logodesk {
    display: none;
}

.logo {
    width: 45%;
    margin: 3% 8%;
}

.logo-reduz {
    width: 3%;
    margin-top: 3%;
    margin-left: 4%;
}

#secao-home {
    background-color: #2b2b2b;
    height: 736px;
}

#secao-portfolio {
    background-color: #9b0007;
}

#secao-skills {
    background-color: #6c009b;
}

#secao-bio {
    background-color: #e2e2e2;
    color: #2b2b2b;
}

#secao-contato {
    background-color: #2b2b2b;
}


.opcoes {
    text-align: right;
    margin: 20% 5%;

}
.botoes {
    padding: 5%;
}

.botao {
    
    background: none;
    padding: 0 3px;
    
    text-decoration: none;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    
    border: none;
    border-bottom: solid 2px #9b0007;
    
}

.menu {
    display: none;
    
}

#linha {
    border-top: solid 2px #9b0007;
}

footer {
    text-align: right;
    margin: 4% 5%;
    font-size: 0.7rem;
}

/*------------------------*/
/* CONFIGS CSS NO DESKTOP */

@media (min-width:768px) {
    .topo {
        height: 5%;
    }

    .logo {
        display: none;
    }

    .logodesk {
        display: initial;
        width: 20%;
        margin: 2% 3%;
    }

    .opcoes {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2% 20%;
        text-align: center;
        margin: 3%;
    }
    
    .botoes {
        padding: 15%;
        font-size: 0.8em;
    }
    
    #skills {
        grid-area: 2 / 1;
    }
    
    /*--------*/
    /* SEÇÕES */

    .cabecalho-secao {
        margin: 3% 8%;
    }

    .titulo-secao {
        font-size: 1.5em;
        font-weight: bold;
    }

    .menu {
        display: inline-block;
        margin-left: 20%;
        
    }

    .botao-seg-plano {
        font-size: 0.9em;
        margin-right: 70px;
        
    }

    footer {
        text-align: center;
        margin: 1% 0%;
        font-size: 0.8rem;
    }
    
    /*---------------------------*/
    /* CONFIGS. SPECIFCS. SEÇÕES */

    /* SEÇÃO PORTFÓLIO */
    .conjsites {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        text-align: center;
    }

    .quadro-site {
        display: inline-block;
        
    }

    .quadro-site a {
        color: #fff;
    }

    .miniatura-site {
        width: 100%;
    }

    .botao-seg-plano__roxo {
        border-bottom: solid 2px #6c009b;
    }

    /* SEÇÃO BIO */

    #eu img {
        width: 30%;
    }
    #secao-bio .botao-seg-plano {
    color: #2b2b2b;
    }

    .conteudo {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
    }
    
    #texto {
        width: 50%;
        text-align: justify;
    }
}
