body {
    margin: 0;
    font-family: 'Saira semi-condensed', sans-serif;
    color: #ffffff;
}

.topo {
    height: 10%;
    background-color: #2b2b2b;
}

header {
    background-color: #9b0007;
}

.logo {
    width: 200px;
    margin: 3% 8%;
}

.home {
    background-color: #2b2b2b;
    height: 736px;
}

.portfolio {
    background-color: #9b0007;
}

.opcoes {
    text-align: right;
    margin: 20% 5%;

}
.botoes {
    padding: 5%;
}

.botao {
    background: none;
    
    font-size: 1.8em;
    font-style: italic;
    color: #fff;
    
    border: none;
    border-bottom: solid 2px #9b0007;
    
}

.botao-seg-plano {
    display: none;
}

#linha {
    border-top: solid 2px #9b0007;
}

footer {
    text-align: right;
    margin: 4% 5%;
    font-size: 0.7rem;
}